* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica;
font-size: 14px;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	font-family: Helvetica;
	margin-top: 25px;
}

.container {
	width: 100%;
	margin-top: 20px;
}

.col-lg-4, .col-md-6, .col-md-12, .col-sm-12 {
	position: relative;
	float: left;
}

.section {
	position: relative;
	background-color: lightgray;
	width: 90%;
	height: 150px;
	margin-top: 20px;
	margin-left: auto; 
	margin-right: auto;
	overflow: hidden; 
	border: 1px solid black;
}

#title1, #title2, #title3 {
	position: relative;
	width: 205px;
	float: right;
	border: 1px solid black;
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
	padding: 5px 0px;
	overflow: hidden;
}

.col-lg-4 > div > p {
	position: relative;
	clear: right;
	margin: 40px 10px 40px 10px;
	line-height: 1.5;
}

#title1 {background-color: #E0FFFF;}
#title2 {background-color: #AFEEEE;}
#title3 {background-color: #4682B4; color: white;}

/*---------------LARGE-------------------------*/
@media (min-width: 992px) {
	.col-lg-4 {
		width: 33.33%;
	}
	#section-one {
		left: 2%;
	}
	
	#section-three {
		right: 2%;
	}

}

/*----------------MEDIUM-----------------------*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-md-6 {		
		width: 50%;
	}

	.col-md-12 {
		width: 100%;
	}
	
	#section-one {
		margin-right: 2%;
		width: 93%;
	}

	#section-two {
		margin-left: 2%;
		width: 93%;
	}

	#section-three {
		width: 95%;
	}
}

/*-----------------SMALL---------------------*/
@media (max-width: 767px) {
	.col-sm-12{
		width: 100%;
		float: none;
	}
}